1st/src/main/mule/1st.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<api-gateway:autodiscovery apiId="17654036" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="7a1c9082-ca4f-4771-b8be-b30943201888" flowRef="1stFlow" />
	<flow name="1stFlow" doc:id="12ada7f9-0122-4a1e-b605-50739ecd6cdc" >
		<http:listener doc:name="Listener" doc:id="beecbd5b-a172-4053-ac55-6576ec195325" path="/lk" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="af4a0e41-a5dd-4904-8438-bb261750c736" message="message sent #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="b38db0a6-3407-47cc-a6da-a175dedfc3e6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": "request received"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
