1st/src/test/munit/1st-test-suite.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:munit="http://www.mulesoft.org/schema/mule/munit" xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">
	<munit:config name="1st-test-suite.xml" />
	<flow name="1st-test-suiteFlow" doc:id="b9899ca2-6d88-4586-b82e-23784f27637e" >
		<munit-tools:mock-when doc:name="Mock when" doc:id="0f9c9ffd-a93c-4704-9160-b75aa096942c" processor="flow">
			<munit-tools:with-attributes >
				<munit-tools:with-attribute whereValue="1stFlow" attributeName="name" />
			</munit-tools:with-attributes>
			<munit-tools:then-return >
				<munit-tools:payload value='{&#10;    "status": "request received"&#10;}' />
			</munit-tools:then-return>
		</munit-tools:mock-when>
	</flow>
	<munit:test name="1st-test-suite-1stFlowTest" doc:id="c4803630-c904-4610-9d4f-9f9a609fa993" description="Test">
		<munit:execution >
			<munit:set-event doc:name="Set Event" doc:id="14261a85-c179-4c8a-9c88-e4ecba151c86" >
				<munit:attributes value="queryParam " />
			</munit:set-event>
			<flow-ref doc:name="Flow-ref to 1stFlow" doc:id="fbe54590-e8bc-4dc8-9516-6b01f8bab919" name="1stFlow"/>
		</munit:execution>
		<munit:validation >
			<munit-tools:assert-that doc:name="Assert that" doc:id="8c4c6b85-8d72-4934-bc4a-cb5bc7c2462b" is="#[MunitTools::notNullValue()]" expression="#[payload]"/>
		</munit:validation>
	</munit:test>


</mule>
